<aside>
    <div class="slide-container">
        <ul class="aside-panel">
            <li>@Html.AuthorizedRawActionLink("Overview", "AnalyticsDashboard", "Analytics","", new { @data_test_selector = "linkAnalyticsOverview" })</li>
        </ul>
    </div>
</aside>
