<div class="py-4">
    <div class="newsletter-widget align-items-center b2b-new-customer-text b2b-newsletter">
        <!-- Begin Klaviyo Contact Embed Forms -->
        <div id ="KlaviyoEmbedForm" class="klaviyo-form-VWEfXW"></div>
        <!-- End Klaviyo Contact Embed Form  -->
    </div>
    <div class="offset-sm-3"><p id="newslettererrormessage" style="display:none" data-test-selector="lblnewslettererrmsg"></p></div>
</div>
